<div class="card">
    <div class="carf-header">
        Add new FAQ
    </div>
    <div class="card-block">
        <form (submit)="addQuestion()">
            <div class="form-group">
                <label>Question Text</label>
                <input type="text" name="text" class="form-control" [(ngModel)]="text">
            </div>
            <div class="form-group">
                <label>Question Answer</label>
                <input type="text" name="answer" class="form-control" [(ngModel)]="answer">
            </div>
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
</div>